@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700&display=swap');

/* width - largura 400 /520 -- height - altura 700 / 520 */
body{
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    text-align: center;
    display: block;
}
main, footer{
    min-width: 300px;
    max-width: 1440px;
}
article .rectangle{
    border-radius: 14px;
    background: white;
    width: 400px;
    height: 520px;
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.rectangle img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
aside .title{
    font-family: 'Outfit' sans-serif;
    font-weight: bold;
    font-size: 25px;
}
aside .text{
    font-family: 'Outfit' sans-serif;
    font-weight: lighter;
    font-size: 15px;
}
footer .attribution{
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}
footer .attribution a{
    color: hsl(228, 45%, 44%);
}